<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About</h1>
    <p>À propos de moi : Je suis Bom Touin, et je suis en train d'apprendre à développer des applications web avec Flask !</p>

    <form action="" method="post">
        <label for="destination">Selectionnez une gare :</label>
        <select id="destination" name="destination">
            <option value="" selected disabled>Choisissez une destination :</option>
            <option value="gareCalaisFrethun">Gare de Frethun</option>
            <option value="gareCalaisVille">Gare de Calais Ville</option>
        </select>
        <button type="submit">Submit</button>
    </form>

    <iframe src="/static/carte.html" frameborder="0" width="1000px" height="500px"></iframe>
</body>
</html>

<!-- visualiser le chemin de calais ville/gare calais frethun à univeriste  -->
<!-- par vol oiseau ou voiture -->